
<div class='w-full  '>
  <%= image_tag 'Rectangle.svg', alt: 'footer', class: 'footer-image absolute bottom-0 sm:h-[none] h-[30%] ' %>
  <%= image_tag 'RectangleMobile.svg', alt: 'footer', class: 'footer-image-mobile absolute bottom-0 ' %>
  <p class='text-[#838383] text-xs md:text-sm lg:text-base absolute bottom-2 left-0 right-0 text-center max-w-[70%] mx-auto'>© Clouds Inc. 2024. Weather data is sourced from weather.com</p>
</div>


